.imgContainer {
    z-index: 0;
    position: relative;

}

.mainContent {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    gap: 182px;
    padding-bottom: 75px;
}

.mainText {
    padding-top: 74px;
}

.textContainer {
    border-top: 1px solid #E6E8EC;
    padding-bottom: 32px;
}

.textTitle {
    margin: 32px 0;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleImg {
    width: 9px;
    height: 6px;
}